<%= simple_form_for task, html: { multipart: true, id: 'task_form' }, authenticity_token: true, remote: true do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <%= file_field_tag 'attachment[]', multiple: true %>

  <div class="form-actions">
    <%= f.button :submit, id: 'task_submit' %>
  </div>
<% end %>
